body {
  margin: 0;
  padding: 0;
}

.header {
  background: red;
  color: white;
  margin: 0 0 2rem 0;
  padding: 1rem;
}

fieldset {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  gap: 0.2rem;
}

.button_container {
  display: flex;
  height: 4rem;
  margin: 1rem 0;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

button {
  height: 3rem;
  border-radius: 0.5rem;
  font-size: medium;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.clear_form_button {
  background: red;
}

.create_note_button {
  background: green;
}

.ext_info_button {
  background: yellow;
}

.extension_info {
  /* display: none; */
  display: flex;
  flex-direction: column;
}

@media (min-width: 376px) {
  form {
    margin: 8% auto;
    width: 50%;
  }
}
